<html>
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="stylesheet" href="./assets/css/style.css?v=38">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="./assets/css/prism.css" />
        <title>{{.Post.Title}}</title>
    </head>
    <body class="body">
        <div class="container content">
            <div class="logo-wrapper">
                <a href="index.html" class="logo-link">
                    <img alt="{{.Site.Title}}" src="./logo.png" class="rounded-circle site-logo" />
                </a>
            </div>
            <div class="page-header">
                <a href="index.html" class="site-title-link">
                    <h1>
                        {{.Site.Title}}
                    </h1>
                </a>
                <h4 class="site-tagline">
                    {{.Site.TagLine}}
                </h4>
            </div>
            <br />
            {{- if .Post.Image }}
            <img class="main-image" src="{{.Post.Image}}" />
            {{- end }}
            <h1 class="post-title">
                {{.Post.Title}}
            </h1>
            <div class="post-preview-date">
                Last edited on {{.Post.Date}}
            </div>
            <div class="post-preview-badges">
                {{- range .Post.Tags }}
                <a href="{{.Url}}" class="badge badge-dark badge-pill badge-text">{{.Name}}</a>
                {{- end }}
            </div>
            <div class="post-text">
{{.Post.Content}}
            </div>

            <hr class="header-split" />

            <div class="row">
                <div class="col-md-6">
                    <div class="media author-wrapper">
                        <img class="mr-3 rounded-circle author-avatar" alt="{{.Post.Author.Name}}" src="{{.Post.Author.Avatar}}" />
                        <div class="media-body">
                            <h5 class="author-name">
                                {{.Post.Author.Name}}
                            </h5>
                            {{.Post.Author.Bio}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row more-posts-wrapper">
                <div class="col-md-6">
                    {{- if .Previous }}
                    <div class="post-preview post-preview-no-top-margin" onClick="window.location.href = '{{.Previous.Url}}'">
                        <h2 class="post-preview-title">
                            <a href="{{.Previous.Url}}">{{.Previous.Title}}</a>
                        </h2>
                        <div class="post-preview-date">
                            {{.Previous.Date}}
                        </div>
                        <div class="post-preview-text">
                            {{.Previous.Preview}}
                            <br />
                        </div>
                    </div>
                    {{- end }}
                </div>
                <div class="col-md-6">
                    {{- if .Next }}
                    <div class="post-preview post-preview-no-top-margin" onClick="window.location.href = '{{.Next.Url}}'">
                        <h2 class="post-preview-title">
                            <a href="{{.Next.Url}}">{{.Next.Title}}</a>
                        </h2>
                        <div class="post-preview-date">
                            {{.Next.Date}}
                        </div>
                        <div class="post-preview-text">
                            {{.Next.Preview}}
                            <br />
                        </div>
                    </div>
                    {{- end }}
                </div>
            </div>

            <div class="copyright-wrapper">
                <span class="copyright">Copyright &copy; {{.Site.CopyrightYear}}</span>
            </div>
        </div>
        
        <!-- Javascript -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
        <script src="assets/js/prism.js"></script>
        <script type="text/javascript">
            $("pre code").not("[class^='language-']").each(function(index) {
                Prism.highlightElement(this);
            });
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>
        <script async src="https://static.addtoany.com/menu/page.js"></script>
    </body>
</html>